<%layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h1>Create a New Listing</h1>
            <form method="post" action="/listings" class="needs-validation" novalidate>
                <div class="mb-3">
                    <lable for="title" class="form-label">Title</lable>
                    <input name="listing[title]" class="form-control" required>
                    <div class="invalid-feedback">Title should be valid</div>
                </div>
                <div class="mb-3">
                    <lable for="description" class="form-label">Description</lable>
                    <textarea name="listing[description]" class="form-control" placeholder="Enter Description" required></textarea>
                    <div class="invalid-feedback">Description should be valid</div>

                </div>
                <div class="mb-3">
                    <lable for="image" class="form-label">Image</lable>
                    <input class="form-control" type="text" name="listing[image]">
                </div>
                <div class="row">
                        <div class="mb-3 col-md-4">
                            <lable for="price" class="form-label">Price</lable>
                            <input name="listing[price]" class="form-control" placeholder="Enter Price" required>
                            <div class="invalid-feedback">Price should be valid</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <lable for="country" class="form-label">Country</lable>
                            <input name="listing[country]" class="form-control" placeholder="Enter Country" required>
                            <div class="invalid-feedback">Country should be valid</div>
                        </div>
                </div>
                <div class="mb-3">
                    <lable for="location" class="form-label">Location</lable>
                    <input name="listing[location]" class="form-control" placeholder="Enter Location" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <br><br>
                <button class="btn btn-dark add-btn">Add</button>
            </form>
        </div>
    </div>
</body>